<%- include('../includes/head.ejs') %>

<!-- <link rel="stylesheet" href="/css/product.css"> -->

</head>

<body>

    <%- include('../includes/navigation.ejs') %>

    <!-- <main> -->
        <div class="row left" style="margin-top: 80px;">

                <form class="product-form col s12" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product"<% } %> method="POST">
                    <div class="form-control">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>"> 
                        <!-- for="" and id="" should be smame for accessibility reason -->
                    </div>
                    <div class="form-control">
                        <label for="imageUrl">Image URL</label>
                        <input type="text" name="imageUrl" id="imageUrl" value="<% if (editing) { %><%= product.imageUrl %><% } %>"> 
                        <!-- for="" and id="" should be smame for accessibility reason -->
                    </div>
                    
                    <div class="form-control">
                        <label for="price">Price</label>
                        <input type="number" name="price" id="price" step="0.01" value="<% if (editing) { %><%= product.price %><% } %>"> 
                        <!-- for="" and id="" should be smame for accessibility reason -->
                    </div>


                    <div class="form-control">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" class="materialize-textarea"><% if (editing) { %><%= product.title %><% } %> </textarea> 
                        <!-- for="" and id="" should be smame for accessibility reason -->
                    </div>
                    
                    <button class="btn waves-effect waves-light red" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %> </button>
                </form>
    <!-- </main> -->
    </div>


<%- include('../includes/end.ejs') %>
