<%- include('../includes/head.ejs') %>

<!-- <link rel="stylesheet" href="/css/product.css"> -->

</head>

<body>

    <%- include('../includes/navigation.ejs') %>

        <div class="container" style="margin-top: 40px;">

                <div class="row">

                    <!-- <main> -->
                        <% if ( prods.length>0 ) { %>
                        <h1>Products</h1>
                        <p>List of all the Products</p>
                            <div class="col s6 m4">
                                <% for (let product of prods) { %>
                                <div class="card product-item">


                                            <div class="card-image">
                                                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                                <span class="product__title card-title"><%= product.title %></span>
                                                <h4 class="product__price">$<%= product.price %></h4>
                                                
                                                <%- include('../includes/add-to-cart.ejs', {product: product}) %>

                                            </div>
                                            
                                            <div class="card-content">
                                                <!-- <h2 class="product__price">$<%= product.price %></h2> -->
                                                <p class="product__description"><%= product.description %></p> 
                                            </div>


                                </div>
                                <% } %>
                            </div>
                            <% } else { %>
                            <h1>No Product is Added Yet</h1>
                            <% } %>
                    <!-- </main> -->
                </div>
        </div>

<%- include('../includes/end.ejs') %>
